@tailwind base;
@tailwind components;
@tailwind utilities;

.backgroundDisney {
    background-image: url("/src/assets/disneyBg.jpg");
    background-size: cover;
}

.cardShadow {
    box-shadow: 0px 5px 10px black;
}

.cardShadow:hover {
    box-shadow: 0px 10px 20px black;
}

.lds-circle {
    display: inline-block;
    transform: translateZ(1px);
}
.lds-circle > div {
    display: inline-block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    background: #fed;
    animation: lds-circle 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
@keyframes lds-circle {
    0%,
    100% {
        animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
    }
    0% {
        transform: rotateY(0deg);
    }
    50% {
        transform: rotateY(1800deg);
        animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
    }
    100% {
        transform: rotateY(3600deg);
    }
}

.hoverVisibility:hover > .visibleData {
    visibility: visible;
}

.visibleData {
    visibility: hidden;
}

.flexRowCenter {
    @apply flex flex-row justify-center items-start;
}

.flexColCenter {
    @apply flex flex-col justify-center items-start;
}
